html
{
    font-size: 62.5%;
    box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body
{
  font-family: 'Lato', sans-serif;
}

h1
{
    color: green;
    font-size: 4rem;
}

h2
{
  font-size: 3.8rem;
}

h3
{
  font-size: 3.6rem;
}

h4
{
  font-size: 3.4rem;
}

h5
{
  font-size: 3.2rem;
}

